@import "compass/css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);


.sidenav{
    position:fixed;
    width:280px;
    height: 80%;
    background-color: #C4C4C4;

}
.sidenav .mainbuttons{
    list-style-type: none;
    margin: 64px 0;
    padding: 0;
    color: #FFFFFF;
}
.mainbuttons li{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 600;
}


