@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

#maincontainer{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;

}
#headerbar{
    position: absolute;
    
    background-color: #087434;
    
    top:0px;
    left:0px;
    height: 15%;
    width: 100%;
}
#contlogo{
    position:absolute;

    height:70%;
    width:10%;
    top:25%;
    left:0%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#logo{
    position: relative;
    height:70%;
    width:100%;
    
}
#header{
    position: absolute;
    top: 20%;
    left:40%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato';
    color:azure;
    height: 100%;
    
    
}
#nombre{
    position:absolute;
    left:90%;
    top:35%;
    font-weight: bold;
    font-family: 'Lato';
    color:azure;
    
}
#report_form{
    font-family: 'Lato';
    height: 70%;
    width: 50%;
    position: relative;
    top:20%;
    left:40%;
    display: grid;
   
    align-self: center;
}

#fileform {
    font-family: 'Lato';
    height: 20%;
    width: 50%;
    position: relative;
    top:15%;
    left:25%;
    margin-bottom: 2%;
    display: inline-block;
    align-self: center;
    align-content: center;
    align-items: center;

}
#fileform form{
   
    left:25%;
    

}
#nextform{
    font-family: 'Lato';
    margin-top: 5%;
    margin-bottom: 2%;
    position: relative;
    top:30%;
    left:20%;
    margin-bottom: 2%;
    align-self: center;
}

#report_form form{
    grid-row: 2;
    grid-column:1;
}
#report_title{
    padding-top: 0.5%;
    position:relative;
    top:20%;
    width: 60%;
    height: 10%;
    
    text-align: center;    
    font-family: 'Lato';
}


#id_docfile{
    display: none;
    transition: 30s;
}
.boton-archivo{
    
    height: 40%;
    width: 100%;
    color: #FFFFFF;
    font-family: sans-serif;
    
    background-color: #056833;
  
    
    border-radius: 10px;
    font-weight: bold;
    
    margin-bottom: 20%;
    border: #056833;
    transition:1s;

    background: #056833;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #F2F5F8;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-radius: 4px;
    
    border: none;
    color: #fff;
   
    
    transition: all 0.4s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
.horiform{
    margin-top: 10%;
    display: inline-block;
    margin-left: 10%;
    width: 20%;
    position: relative;
}




#fileheader{
    position:relative;
    width: 100%;
    top:20%;
    margin-left: 5%;
    text-align: center;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 28px;
}
#lowcontainer{
    
    align-items: center;
    align-content: center;
    text-align: center;
    position:relative;
    width: 100%;
    
    margin-left:2.5%;
    top:42.5%;
}
.header {
    font-family: "Lato";
    color: #FFFFFF;
    background-color: #056833;
    padding: 10px;
    margin-left: 5%;
    position: relative;
    height:10%;
}
.impar{
    background-color: #C4C4C4;
}

#tablecontainer{
    top:40%;
    position: relative;
    align-items: center;
    align-content: center; 
    align-self: center;
    font-family: 'Lato';
    display: inline-block;
    
}



table, tr, td {
    border: 5px;
    font-family: 'Lato';
    font-size: 12px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    
}

#footer h4{
    font-family: sans-serif;
    font-size: small;
}

#message-container{

    overflow-y: scroll;
    height: 80%;
    position: fixed;
    width: 70%;
    left: 25%;
    top:20%;
    background-color: #E2E5E8;
}

.chat-message {
    padding-top: 5%;
    padding-left: 5%;
    position:relative;

    height: 50%;
    width: 70%;
    
}

#button-box{
    position: fixed;
    top:0%;
   
    
    width: 30%;
}

.chat-message textarea {
    width: 80%;
    height: 45%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0,.9);
    margin-right: 0px;
  }
  
.chat-message textarea:focus , .form-cont input:focus{
    outline-width: 2px;
    outline-style: inset;
    outline-color: #056833;
    
    
}
.fa-file-o, .fa-file-image-o {

    font-size: 16px;
    color: gray;
    cursor: pointer;
    
  }
  
.chat-message button, .bc button, .form-cont button{
    background: #056833;
    font-size: 15px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #F2F5F8;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-radius: 4px;
    height: 50px;
    border: none;
    color: #fff;
    
    padding: 16px;
    width: 80%;
    transition: 0.4s;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: 1.2s;
    }
#column-container button{
    left:15%;
    width:85%;
}
.chat-message  button:hover, .bc button:hover, .form-cont button:hover{
    padding-top: 8px;
    padding-bottom:24px;
    background:  rgba(2, 80, 51,0.95);
    transition:.0.8s;
}

.send-button, .check-button{
    opacity: 0;
    z-index: -1;
}
.switch-button{
    height: 80px;
    width: 80px;
    background: none;
    border: none;
}
.switch-button img{
    height: 70px;
    width: 70px;
}
.switch-button:hover img{
    height: 78px;
    width: 78px;
    fill:rgba(180,180,180,1) !important;
    color :rgba(180,180,180,1) !important;
    transition: 0.6s;
    
}
.switch-button:hover .imgsvg{
    
    fill:rgba(180,180,180,1) !important;
    color :rgba(180,180,180,1) !important;
    transition: 0.6s;
    
}



.display-button{
    opacity: 1;
    z-index: 666;
    transition: all 1.4s cubic-bezier(0.75,0.5,0.1,0.33);

}

.send-button:hover{
    padding-right: 8px;
    padding-left:24px;
    background:  rgba(0, 0, 0,0.3);
    transition:.0.8s;
}
#fileform button:hover{
    background:  rgba(2, 80, 51,1);
    transition:.0.8s;
}
.chat-message button:hover:after {
    opacity: 1;
    
  }

textarea::placeholder{
    color:#121212;
    animation-name: blink;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

#column-container{
    position:absolute;
    left:65%;
    top: 15%;
   
    width: 20%;
    
}

#column-container select{
  margin: 10%  10px;
  background-color: #F2F5F8;
  border:none;
  padding: 0 1em 0 0;
  width: 100%;
  height: 30px;
  font-family: "Lato";
  font-size: 16px;
  cursor: inherit;
  line-height: inherit;
  padding-left: 10%;
  padding-right: 10px;
}

.test-message {
    position: relative;
    font-family: 'Helvetica';
    background: #075E54;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width:15%;

    left:50%;
    top:35%;
    font-size: 16px;
    border-radius: 7px;;
    display: flex;
    flex-direction: row;
    
    align-items: right;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0,.9);
    overflow-wrap: break-all;
    
    
}
.test-message p{
    margin-bottom:5px;
    
    margin-top:0%;
   font-size: 14px;
   position:relative;
   margin-right:20px;
   
}
.test-message:after {
    bottom: 100%;
        left: 100%;
        top:0%;
        border: solid transparent;
        content: "         ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #075E54;
        border-radius: 5px;
        border-width: 20px;
        margin-left: -20px;
        margin-top: -6%;
        display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    overflow-wrap: break-all;
}

.popup-window{
    position:absolute;
    width: 100%;
    height: 100%;
    
    background: rgba(100,100,100,0.7);
    transition: all 0.9s ease-in-out;
    border-radius: 6px;
    top: 0;
    left: 0;
    
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: left;
    opacity: 0;
    z-index: -1;
}
.open-popup{
    position:absolute;
    z-index: 666;
    opacity: 1;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: all 0.9s ease-in-out;
    background: rgba(100,100,100,0.5);
    align-items: center;
   
}
.message-popup{
    position:absolute;
    z-index: 666;
    opacity: 1;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
    background: rgba(80,80,80,0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.message-popup .loading-message{
    position: absolute;
    top: 40%;
    left: 42%;
    align-items: center;
    font-weight: 400;
    
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.open-popup .loading-message{
    position: absolute;
    top: 50%;
    left: 45%;
    align-items: center;
    font-weight: 400;
    
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hour{
    height: 15px;
    width: 80%;
    color:#F2F5F8;
    position:absolute;
    margin-top:10px;
    left:10%;
    float: bottom;
    align-self: right;
    text-align: right;
    top:100%;
    margin-top: -15px;
    font-family: 'Lato';
    font-size: 10px;
}

.loader {
    border: 10px solid #075E54 ;
    border-top: 10px solid rgba(100,100,100,0.5); 
    border-radius: 60%;
    position: absolute;
    align-self: center;
    left: 45%;
    top:25%;
    width: 100px;
    height: 100px;
    animation: spin 0.5s linear infinite;
    
}
#message-header, #message-footer{
    height: 15%;
    margin-bottom: 5%;
    padding-bottom: 6%;
}
#message-footer{
    margin-top: 5%;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.msg-content{
    align-items: vertical;
}
.msg-header{
    position: relative;
    margin-bottom: 5px;
    font-family: 'Helvetica';
    font-weight: 500;
    
    margin-right:20px;
    display: vertical;
}
.msg-body{
    font-family: 'Helvetica';
    position: relative;
    margin-bottom: 5px;
    margin-right:25px;
    

}
.msg-footer{
    margin-top: 0px;
    position: relative;
    font-family: 'Helvetica';
    color:#999999;
    display: vertical;
    margin-right:25px;
    padding-right: 25px;
    font-size:13px;
}
.loading-message{
    position:absolute;
    font-family: 'Lato';
    font-size: 25px;
    text-align: center;
    align-items: center;
    align-self: center;
    top:65%;
    left:45%;
    color:#FFFFFF;
    
}

#sidebar{
    position: absolute;
    top:14.9%;
    left:0%;
    

}
#message-header-cont{
   margin-bottom: 10px;
}

.centered-content{
    position:  relative;
    width: 400px;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-bottom: 40px;
    border-radius: 20px;
}

.uploaded-image img{
    
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 50px;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0,.9);
    
}
#switch-button img:hover{
    transition: 1.2s;
}
#message-header-cont button{
    font-family: 'Lato', 'Arial', 'Sans-serif';
    width: 170px;
    font-size: 15px;
    background-color: rgba(0,0,0,0.7);
    text-transform: capitalize;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0,.9);
    
    
}
#message-header-cont iframe{
    position:   relative;
    top:0%;
    height: 500px;
    width: 200px;
    margin: 0;
    padding: 0;
    border: none;    
}


.image-description{
    background-color: transparent;
    font-size: 10px;
    font-family: 'Lato';
    position:fixed;
    align-self: right;
    margin-bottom: 5px;
    margin-left:120px;
    text-align: center; 
    -webkit-overflow-scrolling: touch; 
    overflow: auto;
    padding-top: 20px;
}

.uploaded-file-box{
    font-family: 'Lato';
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0,.85);
    display: inline-flexbox;
    height: 100px;
    width: 250px;
    padding-top: 5px;
    padding-left: 5px;
    top: 0px;
    left: 100px;
    font-size: 15px;
    text-align:  center;
    align-self: center;
    margin-bottom: 30px;
    position: relative;
    color: #EEEEEE;

}
.uploaded-file-box img {
    position: absolute;    
    float: right;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    max-height: 100px;
    max-width: 150px;
    margin-bottom: 10px;
    
    
}
.uploaded-file-box p{
    margin-left:5px;
    width: 100px;
    height: 75px;
    display: inline-block;
    position: absolute;
    word-break: break-all;
    white-space: normal;
    left: 20px;
    text-align: left;
}
.button-menu{
    display: grid;
    grid-template-columns: 150px 150px;
}

.form-cont{
    position: fixed;
    width: 50%;
    left:25%;
    display: grid;
    align-items: center;
    align-content: center;
    padding-top: 20%;
}

.form-cont input{
    position: relative;
    width: 80%;
    left:15%;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0,.9);
    margin-right: 0px;
}
.form-cont button{
    width: 200px;
    left:40%;
   
}
.visual-button{
    width: 250px;
    height: 40px;
    
    padding-top: 8px;
    margin-top:  10px;
    margin-left: 150px;
    align-self: center;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: #056833;
    color:#DDDDDD;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0,.9);
    border-radius: 5px;
    font-weight: 700;

}
.visual-button:hover{
    background-color: rgba(0,0,0,0.77);
     transition: 0.5s;
     padding-top: 15px;
     padding-bottom: 5px;
}