<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%  static 'styles/style.css' %}">
        <link rel="stylesheet" href="{%  static 'styles/navbarstyle.css' %}">
        <script src="{% static 'scripts/data_upload.js' %}">  </script>
         <script src="{% static 'scripts/utils.js' %}">  </script>
         <script src="{% static 'scripts/axios.min.js' %}">  </script>
      
        <title>Carga de Base de Datos</title>
        <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    </head>
    <body>
        {% block content %}
        <div id="maincontainer">


            <div id="headerbar">
                <div id="contlogo">
                    <img id= "logo" src="{% static 'images/edilar_transparente.png' %}">
                </div>
    
                <div id="header"><p>Whatsapp Masivo</p></div>    
                
                {% if user_name is not None %}
                <div id="nombre"><p>{{ user_name }}</p></div>
                {% endif %}
                
            </div>

            <div id="sidebar">
                {% include 'bar_menu.html' with user=user session_id=session_id%}
            </div>
            
            <div id="fileform" >
                 
                
                <input type="file" accept=".xlsx, .csv" name="docfile" id="file_input" style="display: none;">
                <input type="text" name="user" value="{{ user }}" style="display: none;">  
                <input type="text" name="session_id" value="{{ session_id }}" style="display: none;">  
                <input type="submit" id="check" style="display: none;">
                    
                
                <form action="/message_sending/" method="post"  >
                    {% csrf_token %}
                    <input type="submit" id="message_sending" style="display:none">
                    <input  id="dfinput" name="df" style="display: none;">  
                    <input name="user" value="{{ user }}" style="display: none;">
                    <input type="text" id="filename" style="display: none;">  
                    
                </form>
                
                    <button class="boton-archivo" id="file_button" >Subir Archivo</button>
               
             
                    {% if headers is not None and content is not None %}
                        <div class="horiform">
                            <button class="boton-archivo" id="file_button" type="submit" >Continuar</button>
                        </div>
                    {% endif %}
    
                
            </div>   
            
          
                <div id="lowcontainer">
                  

                    <div id="tablecontainer">
                     
                    
                           
                        <div id="footer">
                           
                        </div>
                    </div>
                </div>
            
                
                    <div id="nextform">
                        
                    </div>   
                
        </div>
        {% endblock content %}
    </body>
</html>