<!DOCTYPE html>
    <head>
        <script src="{% static 'scripts/axios.min.js' %}">  </script>
    </head>
    <body>
        <div id="maincontainer">
            <div id="maincontainer">
                {% block content %}
                <div id="headerbar">
                    <div id="contlogo">
                        <img id= "logo" src="{% static 'images/edilar_transparente.png' %}">
                    </div>
        
                    <div id="header"><p>Whatsapp Masivo</p></div>    
                    
                    {% if user_name is not None %}
                    <div id="nombre"><p>{{ user_name }}</p></div>
                    {% endif %}
                    
                </div>
                {% endblock content %}

        </div>
    </body>
</html>