<!DOCTYPE html>
    <head>

    </head>
    <body>
        <div id="maincontainer">
            <div id="maincontainer">
                {% block content %}
                <div id="headerbar">
                    <div id="contlogo">
                        <img id= "logo" src="{% static 'styles/logo.png' %}">
                    </div>
    
                    <div id="header"><p>Whatsapp Masivo</p></div>    
                    {% if user is not None %}
                    <div id="nombre"><p>{{ user }}</p></div>
                    {% endif %}
                </div>

                {% endblock content %}

        </div>
    </body>
</html>